* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow-x: hidden;
} 
body .topBar {
  width: 100vw;
  margin-top: 1%;
  display: inline-block;
}

body .topBar .image {
  position: relative;
  left: 2%;
  height: 100%;
}
body .topBar .button {
  left: 5%;
  text-align: center;
  text-justify: center;
  position: relative;
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 11px 20px;

}
body .topBar .button:hover {
  background-color: black;
  color: white;
  text-align: center;
  text-justify: center;
  justify-content: center;
  border-radius: 25px;
  padding:10px 20px;
}

body .topBar .search {
  position: relative;
  left: 5%;
  display: inline-block;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 25px 150px;
  background: #2c3e50;
  opacity: 0.3;
}
body .topBar .search:hover {
opacity: 0.5 ;
}

body .topBar .notification {
  position: relative;
  left: 10%;
}

body .topBar .chat {
  position: relative;
  left: 10%;
}
body .contentWrapper {
  padding: 20px 0;
  display: grid;
}
body .contentWrapper .content {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 100%;
}
body .contentWrapper .content .images {
	padding-bottom: 15px;
	margin-bottom: 5px;
  width: auto;  
  height: auto;
  margin-right: 10px;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 10px;
  border-radius: 15px;
}

@media (max-width: 1024px) {
  body .contentWrapper .detail {
    width: 50vw;
  }
  body .contentWrapper .detail.open {
    left: 50vw;
  }
}
@media (max-width: 375px) {
  body .contentWrapper .content .images {
    width: calc(50vw - 10px);
    height: 50vw;
  }
  body .contentWrapper .detail {
    width: 100vw;
  }
  body .contentWrapper .detail button {
    display: flex;
  }
  body .contentWrapper .detail.open {
    left: 0vw;
  }
}
@font-face{font-family:'Calluna';
 src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/callunasansregular-webfont.woff') format('woff');
}
#columns {
	column-width: 320px;
	column-gap: 15px;
  width: 90%;
	max-width: 1100px;
	margin: 50px auto;
}

div#columns figure {
	background: #fefefe;
	border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	padding: 15px;
	padding-bottom: 10px;
	transition: opacity .4s ease-in-out;
  display: inline-block;
  column-break-inside: avoid;
}

div#columns figure img {
	width: 100%; height: auto;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

div#columns figure figcaption {
  font-size: .9rem;
	color: #444;
  line-height: 1.5;
}

div#columns small { 
  font-size: 1rem;
  float: right; 
  text-transform: uppercase;
  color: #aaa;
} 

div#columns small a { 
  color: #666; 
  text-decoration: none; 
  transition: .4s color;
}

div#columns:hover figure:not(:hover) {
	opacity: 0.4;
}

@media screen and (max-width: 750px) { 
  #columns { column-gap: 0px; }
  #columns figure { width: 100%; }
}