$br: 15px;
$tb-h: 45px;

* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    .topBar{
        width: 100vw;
        height: $tb-h;
    }
    .contentTop{
      position: relative;
      top: 20%;
    }
    .contentWrapper{
        width: 100vw;
        height: 100%;
        padding: 20px 0;
        display: flex;
        .content{
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            flex-basis: 100%;
        }
        
    }
}

@media (max-width: 1024px) {
    body{
        .contentWrapper{
            .detail{
                width: 50vw;
                &.open{
                    left: 50vw;
                }
            }
        }
    }
    
}